@font-face {
    font-family: metamorphous;
    src: url(font/Metamorphous-Regular.ttf);
}
@font-face {
    font-family: droidsansmono;
    src: url(font/DroidSansMono.ttf);
}

p {
    margin: 0;
    color: #afbac5;
}

a{
    color: hsl(200, 100%, 50%);
}

a:visited{
    color: hsl(200, 100%, 50%);    
}

body {
    background-color: #0d1017;
    border: solid;
    border-color: #484f58;
    border-width: 1vw;
    border-top-width: 0em;
    max-height: unset;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    color: #e3b341;
    flex: 1;
    font-family: metamorphous;
    border-bottom: solid;
    border-color: #6e7681;
    border-bottom-width: 0.7vw;
    line-height: 8vh;
    font-size: 3vh;
    margin-top: 0;
}

#contents{
    display: flex;
    flex-direction: row;
}

#rightlist{
    display: flex;
    flex-direction: column;
    flex: 0.3;
    border-left: solid;
    border-left-color: #6e7681;
    border-left-width: 0.7vw;
    width: 100%;
}

#leftlisttemplate{
    display: flex;
    flex-direction: column;
    flex: 0.4;
    border-right: solid;
    border-right-color: #6e7681;
    border-right-width: 0.7vw;
}


.rightdescrcont{
    height: 100%;
    margin-right: 0.7vw;
    margin-left: 0.7vw;
    font-size: 100%;
    font-style: italic;
    color: #8b939e  !important;
    font-family: droidsansmono;
}

#rightdescr-0{
    text-align: center;
}

#center{
    display: flex;
    flex-direction: column;
    flex: 0.45;
    height: 100%;
}

#centertemplate{
    display: flex;
    flex-direction: column;
    flex: 0.6;
    height: 100%;
}

#left{
    display: flex;
    flex-direction: column;
    flex: 0.25;
    border-right: solid;
    border-right-color: #6e7681;
    border-right-width: 0.7vw;
    width: 100%;
}

.bigtexttoc{
    font-weight: bold;
    font-size: 150%;
    flex: 0.5;
    margin-left: 1.5vw;
    margin-bottom: 0.5vw;
    font-family: droidsansmono;
    color: #afbac5;
}

.bigtexttemplmaindescr{
    font-weight: bold;
    font-size: 150%;
    flex: 0.5;
    text-align: center;
    margin-bottom: 0.5vw;
    font-family: droidsansmono;
    color: #8b939e;
}

.disclaim {
    color: #8b939e;
    flex: 0.3;
    font-style: italic;
    margin-bottom: 1.7vw;
    font-family: droidsansmono;
    font-size: 75%;
    text-align: center;
}

.smalltexttoc{
    color: #8b939e !important;
    flex: 9.5;
    font-style: italic;
    margin-bottom: 0.7vw;
    margin-left: 1.5vw;
    font-family: droidsansmono;
    font-size: 90%;
}

.leftdescrcont{
    height: 100%;
    margin-left: 0.7vw;
    font-size: 80%;
    font-style: italic;
    color: #8b939e  !important;
    font-family: droidsansmono;
}

.smalltexttoc a{
    color: #8b939e;
    text-decoration: none;
}

.smalltexttoc a:visited{
    color: #8b939e;
    text-decoration: none;
}

h2 {
    flex: 0.9;
    font-size: 150%;
    margin: 0;
    margin-left: 0.5vw;
    margin-bottom: 1.3vw;
    font-family: metamorphous;
    color: #afbac5;
}

.templname {
    font-weight: bold;
    font-size: 150%;
    flex: 0.7;
    margin-left: 1.5vw;
    margin-bottom: 0.5vw;
    font-family: droidsansmono;
}

.templshortdescr{
    flex: 0.6;
    margin: 0;
    margin-left: 2.5vw;
    margin-bottom: 0.5vw;
    font-family: droidsansmono;
    color: #afbac5;
}

.templdescr{
    flex: 0;
    position:absolute;
    top: 100%;
    margin-left: 2.5vw;
    opacity: 0;
    margin-bottom: 0.5vw;
    visibility: hidden;
}

.templsetlink{
    flex: 0.6;
    margin: 0;
    font-size: 100%;
    margin-bottom: 0.5vw;
    font-family: droidsansmono;
}   

.templdescr-visible{
    width: 90vw;
    height: 90vh;
    position:static;
    top: 100%;
    margin-left: 2.5vw;
    opacity: 1;
    margin-bottom: 0.5vw;
    visibility: visible;
}

.templdescrcont{
    flex: 0.6;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0.5vw;
    margin-left: 2.5vw;
    font-weight: bold;
    text-decoration: underline;
    color: #afbac5;
}

.templgraph{
    height: auto;
    max-width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.templsmallgraph{
    height: auto;
    max-width: 30vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.templgraphsquare{
    height: auto;
    max-width: 75vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.templsmallgraphsquare{
    height: auto;
    max-width: 40vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.returnbutton{
    flex: 0.3;
    font-family: droidsansmono;
}

.icon {
    height: auto;
    max-width: 1vw;
}

.fillerleft {
    width: 30vw;
    height: 0.0001vh;
    opacity: 0%;
}
