@font-face {
    font-family: metamorphous;
    src: url(font/Metamorphous-Regular.ttf);
}
@font-face {
    font-family: droidsansmono;
    src: url(font/DroidSansMono.ttf);
}

body {
    background-color: #f8f4e3;
    border: solid;
    border-color: #a2a392;
    border-width: 1vw;
    border-top-width: 0em;
    max-height: unset;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    color: darkblue;
    flex: 1;
    font-family: metamorphous;
    border-bottom: solid;
    border-color: #606153;
    border-bottom-width: 0.7vw;
    line-height: 8vh;
    font-size: 3vh;
    margin-top: 0;
}

#contents{
    display: flex;
    flex-direction: row;
}

#leftlist{
    display: flex;
    flex-direction: column;
    flex: 0.3;
    border-right: solid;
    border-right-color: #606153;
    border-right-width: 0.7vw;
}

.leftdescrcont{
    height: auto;
    margin-left: 0.7vw;
    font-size: 1vw;
    font-style: italic;
    color: rgb(112, 112, 112);
    font-family: droidsansmono;
    width: 30vw;
    padding-right: 0.7vw;
}

#leftdescr-0{
    text-align: center;
}

#centerright{
    display: flex;
    flex-direction: column;
    flex: 0.7;
    width: 60vw;
}
.disclaim {
    text-align: center;
    color: rgb(112, 112, 112);
    flex: 0.3;
    font-style: italic;
    margin-bottom: 0.7vw;
}

h2 {
    flex: 0.9;
    font-size: 150%;
    margin: 0;
    margin-left: 0.5vw;
    margin-bottom: 1.3vw;
    font-family: metamorphous;
}

p {
    margin: 0;
}

.templname {
    font-weight: bold;
    font-size: 150%;
    flex: 0.7;
    margin-left: 1.5vw;
    margin-bottom: 0.5vw;
    font-family: droidsansmono;
}

.templshortdescr{
    flex: 0.6;
    margin: 0;
    margin-left: 2.5vw;
    margin-bottom: 0.5vw;
    font-family: droidsansmono;
}

a:visited{
    color: blue;    
}

.templdescr{
    flex: 0;
    position:absolute;
    top: 100%;
    margin-left: 2.5vw;
    opacity: 0;
    margin-bottom: 0.5vw;
    visibility: hidden;
}

.templsetlink{
    flex: 0.6;
    margin: 0;
    font-size: 100%;
    margin-bottom: 0.5vw;
    font-family: droidsansmono;
}   

.templdescr-visible{
    width: 90vw;
    height: 90vh;
    position:static;
    top: 100%;
    margin-left: 2.5vw;
    opacity: 1;
    margin-bottom: 0.5vw;
    visibility: visible;
}

.templdescrcont{
    flex: 0.6;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0.5vw;
    margin-left: 2.5vw;
}

.templgraph{
    height: auto;
    max-width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.templsmallgraph{
    height: auto;
    max-width: 30vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.templgraphsquare{
    height: auto;
    max-width: 75vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.templsmallgraphsquare{
    height: auto;
    max-width: 40vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.returnbutton{
    flex: 0.3;
    font-family: droidsansmono;
}

.icon {
    height: auto;
    max-width: 2vw;
}
