@font-face {
    font-family: metamorphous;
    src: url(font/Metamorphous-Regular.ttf);
}
@font-face {
    font-family: droidsansmono;
    src: url(font/DroidSansMono.ttf);
}

body {
    flex-direction: column;
    background-color: #f8f4e3;
    border: solid;
    border-color: #a2a392;
    border-width: 1vw;
    border-top-width: 0em;
    display: flex;
    height: auto;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    color: darkblue;
    flex: 1;
    font-family: metamorphous;
    border-bottom: solid;
    border-color: #606153;
    border-bottom-width: 0.7vw;
    line-height:250%;
    font-size: 250%;
    margin-top: 0;
    margin-bottom: 1vw;
}

.disclaim {
    text-align: center;
    color: rgb(112, 112, 112);
    flex: 0.3;
    font-style: italic;
    margin-bottom: 0.7vw;
}

.filler {
    flex: 0.6;
}

h2 {
    flex:0.9;
    font-size: 200%;
    margin: 0;
    margin-left: 0.5vw;
    margin-bottom: 1.3vw;
    font-family: metamorphous;
}

p {
    margin: 0;
}

.templname {
    font-weight: bold;
    font-size: 150%;
    flex: 0.7;
    margin-left: 1.5vw;
    margin-bottom: 0.5vw;
    font-family: droidsansmono;
}

.templshortdescr{
    flex: 0.6;
    margin: 0;
    margin-left: 2.5vw;
    margin-bottom: 0.5vw;
    font-family: droidsansmono;
}

a{
    font-size: 1vw;
}

a:visited{
    color: blue;    
}

.templdescr{
    flex: 0;
    position:absolute;
    top: 100%;
    margin-left: 2.5vw;
    opacity: 0;
    margin-bottom: 0.5vw;
    visibility: hidden;
}

.ul{
    font-size: 150%;
    font-family: droidsansmono;
}

.templdescr-visible{
    width: 90vw;
    height: 50vh;
    position:static;
    top: 100%;
    margin-left: 2.5vw;
    opacity: 1;
    margin-bottom: 0.5vw;
    visibility: visible;
}

.templdescrcont{
    flex: 0.6;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0.5vw;
    margin-left: 2.5vw;
}

.templgraph{
    height: 50%;
    width: auto;
}

.returnbutton{
    flex: 0.3;
    font-family: droidsansmono;
}

.icon {
    height: 1.5vw;
    width: auto;
}
