<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <h1>6lm10TP</h1>
        
        <img class="templgraph" src="../img/graphs/6lm10TP.png">
        
        <p class="templshortdescr">6lm10TP template was created by Drakonin for purpose of making mage guild more equal by decreasing number of spell researches (rolls) for control spell. <br/> Thanks to spells bans in this version max number of rolls for Town Portal is 3 and for Dimension Door is 4 for Rampart, Inferno and Necropolis, 5 for Tower and Dungeon, 6 for Conflux.</p>

        <p class="templshortdescr">Changes compared to 6lm10a:
            <ul>
                <li>3k guard instead of 0k wide connection.</li>
                <li>Removed 5 4th tier spells: Fire Shield, Counterstrike, Inferno, Slayer, Sorrow.</li>
                <li>Removed 2 5th tier spells: Sacrifice and Magic mirror.</li>
                <li>Object changes: <br/>
                    - Griffin Conservatory: Max per zone - 2 (except STZ). <br/>
                    - Dragon Utopia: Max per zone - 2 (in 6k Treasure).</li>
                <li>Removed object: Seer’s Huts.</li>
                <li>Removed terrains: <br/>
                    - In zones 21, 22, 24, 25: <br/>
                        - Snow, <br/>
                        - Sand, <br/>
                        - Swamp</li>
            </ul>
        </p>
        
        <p class="templshortdescr">Additional versions</p>

        <p class="templshortdescr">200 freq consas - This version differs from main in Griffin Conservatory object frequency. It's increased from 100 to 200.</p>

        <p class="templshortdescr">No consa limit, consa val 5k, imp cache value 3k - This version differs from main in:
            <ul>
                <li>Object changes: 
                    <ul> <br/>
                        <li>Griffin Conservatory: <br/>
                            - Max per zone - No limit <br/>
                            - Value - 5000 (increased from 2000)</li>
                        <li>Imp Cache: <br/>
                            - Value - 3000 (decreased from 5000)</li>
                    </ul>
                </li>
            </ul>
        </p>

    </body>
</html>