<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <h1>h3dm3.2</h1>
        
        <img class="templgraph" src="../img/graphs/h3dm3.png">
        
        <p class="templshortdescr">h3dm3.1 is template created by Xocenk for True Mirror 2 tournament. <!-- Btw I am wondering if Xocenk is still in community. I haven't seen him much lately --> <br> Diffrence from 3.1 version is there is no zone repulsion. <!-- Probably most of readers don't even know what zone repulsion is, lol. Maybe I will add some rmg terms dictionary later. --></p>

        <p class="templshortdescr">Chagnes compared to h3dm1/h3dm2.1 (they are the same<!-- picture -->): <!-- It's funny btw, cuz the order of creation of h3dm versions are h3dm1 -> h3dm2 -> h3dm2.1 -> h3dm1 (same (picture) as h3dm2.1, but they changed name!) -> h3dm3.1/3.2 -> h3dm3 -->
            <ul>
                <li>
                    Object changes:
                    - Disabled Tavern,
                    - Disabled Shrine of Magic Mystery (level 4),
                    - Imp Cache value decreased from 5000 to 3000, <!-- It's a standard lately -->
                </li>
                <li>
                    Banned heroes: Leena, Ciele, Vidomina, Thant, Solmyr, Aislinn, Giselle and Deemer,
                </li>
                <li>
                    Enabled heroes: Mutare, Mutare Drake, <!-- Btw it would be funny to get double hero 111 and both are Mutare, after a while I think it would be just normal -->Boragus, Roland and Katherine,
                </li>
                <li>
                    The number of rounds is limited from 100 to 50,
                </li>
                <li>
                    Disabled artifacts: <!-- for some reason Xocenk in True Mirror 2 tournament description has written forbidden instead of disabled, it's funny cuz it's sound like someone could be angry if you use these artifacts -->wood wagon, ore wagon, symbol of knowledge.
                </li>
                <li>
                    Zone repulsion is off.
                </li>
            </ul> <!-- You know what? At some point writing this page became really boring, that's why I started to write those comments. Greetings from Cracow btw. -->
        </p> <!-- If you are wondering why I wrote this^ comment here and in h3dm3.1.html, it's cuz I just copied whole file, lol -->
    </body>
</html>