<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <h1>NostalgiaTP</h1>
        
        <img class="templgraph" src="../img/graphs/NostalgiaTP.png">
        
        <p class="templshortdescr">NostalgiaTPNH is template created by Kubaryt for purpose of standarizing NostalgiaTP to XL+yoU tournament standard. <br> Main diffrence between it and old version is that there are less heroes and Imp Cache has lower value.</p>

        <p class="templshortdescr">Chagnes compared to mt_Andromeda:
            <ul>
                <li>
                    Banned spells: Sorrow, Slayer, Fire Shield, Inferno, Counterstrike, Magic Mirror, Sacrifice
                </li>

                <li>
                    Banned objects in zone 3 (so called Super Treasure): warehouses, windmills, t1 and t2 lvl dwellings, t1-3 shrines,
                </li>
                <li>
                    Banned heroes: Ufretin, Straker, Piquedram, Verdish, Rion, Gerwulf, Christian, Edric, Korbac, Pyre,
                </li>
                <li>
                    Object value changes: Imp Cache value decreased from 5000 to 3000.
                </li>
            </ul>
        </p> <!-- You remember what I said about templates without changelog? Well I had to write it myself, maybe cuz I created this template, lol -->
    </body>
</html>