<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>HotA template list</title>
		<link rel="icon" type="image/x-icon" href="../img/favicon.ico">
		<link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <div class="retturnbutton">
            <a href="../index.html">&lt;&lt;`<img class="icon" src="../img/home_icon.png">home</a>
        </div>

        <h1>Heroes of Might and Magic III: Horn of the Abyss 6lm10a modifications list</h1>

        <p class="disclaim">Templates listed here belong to their authors, not owner of this repository.</p>
        
        <p class="templname">Spider 2.0</p>        
        <p class="templshortdescr">Version author: Kosixon 
            <br> Version created for purpose of restoring Spider template.
            <br> <a href="https://drive.google.com/drive/folders/13cTJwn4OPigVJvzpT2_DVUnL_nK1W9AG">Link to download</a>
            <br> <div class="templdescrcont" onclick="toggleVisibility(this)">
                Click for full description <br/>
                <iframe class="templdescr" src="Spider2.0.html"></iframe>
            </div>
        </p>
<!-- Yes, I know I could write external JS script instead of adding it to every subpage, but I always copy whole subpage, so there is no diffrence -->
        <script>
            function toggleVisibility(container) {
            var templdescr = container.querySelector(".templdescr");
            var isVisible = templdescr.classList.contains("templdescr-visible");

            if (isVisible) {
                templdescr.classList.remove("templdescr-visible");
            } else {
                templdescr.classList.add("templdescr-visible");
            }
            }
        </script>
    </body>
</html> <!-- At this point I thought that it's last built-in template, but unfortunately, I forgot about normal Firewalk and Duel, nice -->