<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <h1>6lm10xD</h1>

        <img class="templgraph" src="../img/graphs/6lm10xD.png">

        <p class="templshortdescr">6lm10xD is version created by Ercho for purpose of making it more stable generating and more equal. Zone numbers are changed, so they are generated in other order. This version also has chagnes from 6lm10TP, so max number of rolls for Town Portal is 3 and for Dimension Door is 4 for Rampart, Inferno and Necropolis, 5 for Tower and Dungeon, 6 for Conflux.</p>

        <ul class="templshortdescr">
            <span>Changes compared to 6lm10a:</span>
            <li>Zone number changes: 6 -> 2, 2 -> 6, 14 -> 10, 10 -> 14, 16 -> 8, 8 -> 16, 20 -> 18, 18 -> 20, 25 -> 22, 22 -> 25,</li>
            <li>Connection changes: <ul>
                <li>The wide connection between zones 21 and 25 and 24 and 22 (so-called 0k) has been replaced with a 3k connection without a road, on the surface, a fictive connection has also been added to it,</li>
                <li>Added fictive connections between zones 1 (so-called red starting zone) and 17 (so-called STZ), 1 and 21 (so-called bypass zone), 17 and 21; 2 (the so-called blue starting zoneer) and 18 (the so-called STZ), 2 and 22 (the so-called bypass zone), 18 and 22; 5 (so-called orange starting zoneer) and 19 (so-called STZ), 5 and 24 (so-called bypass zone), 19 and 24; 6 (so-called purple starting zoner) and 20 (so-called STZ), 6 and 25 (so-called bypass zone), 20 and 25; 3 (the so-called brown starting zone) and 23 (the so-called middle bypass zone), 4 (the so-called green starting zone) and 23,</li> </ul>
            </li>
            <li>Treasure value changes in zones: <ul>
                <li>in zones 1-6, 11 and 12 (so-called starting zones): <br/>
                    - reduced the minimum value of group 2 treasures from 3000 to 2000, <br/>
                    - increased the maximum value of group 2 treasures from 6000 to 7000,
                </li>
                <li>in zones 7-10 and 13-16 (so-called treasure zone): <br/>
                    - reduced the minimum value of group 1 treasures from 15000 to 10000, <br/>
                    - reduced the minimum value of group 2 treasures from 10000 to 9000, <br/>
                    - reduced the minimum value of group 3 treasures from 3000 to 2000, <br/>
                    - reduced the maximum value of group 2 treasures from 15000 to 12000, <br/>
                    - reduced the maximum value of group 3 treasures from 6000 to 5000, <br/>
                    - group 1 treasure density increased from 1 to 3,
                </li>
                <li>in zones 17-20 (so-called super-treasure): <br/>
                    - reduced the minimum value of group 1 treasures from 20000 to 18000, <br/>
                    - reduced the minimum value of group 2 treasures from 15000 to 9000, <br/>
                    - reduced the minimum value of group 3 treasures from 10000 to 5000, <br/>
                    - reduced the maximum value of group 2 treasures from 20000 to 18000, <br/>
                    - reduced the maximum value of group 3 treasures from 15000 to 11000, <br/>
                    - group 1 treasure density increased from 1 to 3, <br/>
                    - group 2 treasure density increased from 6 to 9, <br/>
                    - disabled objects: creature dwellings,
                </li>
                <li>in zones 21-25 (so-called bypass zones): <br/>
                    - reduced the minimum value of group 1 treasures from 10000 to 9000, <br/>
                    - reduced the minimum value of group 2 treasures from 3000 to 2000, <br/>
                    - increased the maximum value of group 2 treasures from 6000 to 7000, <br/>
                    - group 2 treasure density increased from 6 to 7,
                </li>
            </ul></li>
            <li>
                Zone size changes: <br/>
                - size of zones 1 and 4 (so-called player starting zones) changed from 30 to 25, <br/>
                - size of zones 2, 3, 5, 6, 11 and 12 (so-called ai starting zones) changed from 30 to 18, <br/>
                - size of zones 7-10 and 13-16 (so-called treasure zones) changed from 30 to 23, <br/>
                - size of zones 17-20 (so super-treasure zones) changed from 15 to 19, <br/>
                - size of zones 21-25 (so-called bypass zones) changed from 50 to 30,
            </li>
            <li>Banned spells: Sorrow, Slayer, Fire Shield, Inferno, Counterstrike, Magic Mirror, Sacrifice,</li>
            <li>Banned skills: Eagle Eye, Learning, First Aid,</li>
            <li>Set the maximum amount of Dragon Utopias per zone (except Super Treasure and Treasure) to 1,</li>
            <li>Set the maximum number of Griffin Conservatories per zone to 2,</li>
            <li>Object value change: Imp Cache lowered from 5000 to 3000,</li>
            <li>Disabled Artifacts: Statesman's Medal, Ambassador's Sash, Diplomat's Ring, Ring of Infinite Gem, Eversmoking Ring of Sulfur, Everflowing Crystal Cloth, Everpouring Vial of Mercury, Endless Sack of Gold, Endless Purse of Gold, Endless Bag of Gold,</li>
            <li>Enabled Artifacts: Curnocopia, Golden Goose,</li>
            <li>Enabled Heroes: Sylvia, Catherine, Boragus, Mutare, Mutare Drake, Haart Lich, Roland, Adrienne, Voy,</li>
            <li>Banned Heroes: Ufretin, Straker, Piquedram, Verdish, Rion, Gerwulf, Christian, Edric, Korbac, Pyre.</li>
        </ul>
    </body>
</html>