<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <h1>6lm10xD</h1>

        <img class="templgraph" src="../img/graphs/6lm10e.png">

        <p class="templshortdescr">6lm10e is version created by Ercho for purpose of making it more stable generating. It's continuation of 6lm10xD, but it change zones numbers in diffrent way and don't add fictive connections zones value has been changed. <br/> This version also has chagnes from 6lm10TP, so max number of rolls for Town Portal is 3 and for Dimension Door is 4 for Rampart, Inferno and Necropolis, 5 for Tower and Dungeon, 6 for Conflux.</p>

        <ul class="templshortdescr">
            <span>Changes compared to 6lm10a:</span>
            <li>Zone number changes: 6 -> 4, 4 -> 6, 2 -> 3, 3 -> 5, 5 -> 2, 14 -> 10, 10 -> 14, 16 -> 8, 8 -> 16, 20 -> 18, 18 -> 20, 25 -> 22, 22 -> 25,</li>
            <li>The wide connection between zones 21 and 25; 24 and 22 (so-called 0k) has been replaced with a 3k connection without a road, on the surface,</li>
            <li>Treasure value changes in zones: <ul>
                <li>in zones 1-6, 11 and 12 (so-called starting zones): <br/>
                    - reduced the minimum value of group 2 treasures from 3000 to 2000, <br/>
                    - increased the maximum value of group 2 treasures from 6000 to 7000,
                </li>
                <li>in zones 7-10 and 13-16 (so-called treasure zone): <br/>
                    - reduced the minimum value of group 1 treasures from 15000 to 10000, <br/>
                    - reduced the minimum value of group 2 treasures from 10000 to 7000, <br/>
                    - reduced the minimum value of group 3 treasures from 3000 to 2000, <br/>
                    - reduced the maximum value of group 2 treasures from 15000 to 12000, <br/>
                    - reduced the maximum value of group 3 treasures from 6000 to 5000, <br/>
                    - group 1 treasure density increased from 1 to 3,
                </li>
                <li>in zones 17-20 (so-called super-treasure): <br/>
                    - reduced the minimum value of group 1 treasures from 20000 to 18000, <br/>
                    - reduced the minimum value of group 2 treasures from 15000 to 9000, <br/>
                    - reduced the minimum value of group 3 treasures from 10000 to 4000, <br/>
                    - reduced the maximum value of group 2 treasures from 20000 to 18000, <br/>
                    - reduced the maximum value of group 3 treasures from 15000 to 6000, <br/>
                    - group 1 treasure density increased from 1 to 3, <br/>
                    - group 2 treasure density increased from 6 to 9, <br/>
                    - disabled objects: creature dwellings,
                </li>
                <li>in zones 21-25 (so-called bypass zones): <br/>
                    - reduced the minimum value of group 2 treasures from 3000 to 2000, <br/>
                    - increased the maximum value of group 2 treasures from 6000 to 7000, <br/>
                </li>
            </ul></li>
            <li>
                Zone size changes: <br/>
                - size of zones 1 and 4 (so-called player starting zones) changed from 30 to 25, <br/>
                - size of zones 2, 3, 5, 6, 11 and 12 (so-called ai starting zones) changed from 30 to 22, <br/>
                - size of zones 7-10 and 13-16 (so-called treasure zones) changed from 30 to 23, <br/>
                - size of zones 17-20 (so super-treasure zones) changed from 15 to 30, <br/>
                - size of zones 21-25 (so-called bypass zones) changed from 50 to 27,
            </li>
            <li>Banned spells: Sorrow, Slayer, Fire Shield, Inferno, Counterstrike, Magic Mirror, Sacrifice,</li>
            <li>Banned skills: Eagle Eye, Learning, First Aid,</li>
            <li>Set the maximum amount of Dragon Utopias per zone (except Super Treasure and Treasure) to 1,</li>
            <li>Set the maximum number of Griffin Conservatories per zone to 2,</li>
            <li>Object value change: Imp Cache lowered from 5000 to 3000,</li>
            <li>Disabled Artifacts: Statesman's Medal, Ambassador's Sash, Diplomat's Ring, Ring of Infinite Gem, Eversmoking Ring of Sulfur, Everflowing Crystal Cloth, Everpouring Vial of Mercury, Endless Sack of Gold, Endless Purse of Gold, Endless Bag of Gold,</li>
            <li>Enabled Artifacts: Curnocopia, Golden Goose,</li>
            <li>Banned Heroes: Ufretin, Straker, Piquedram, Verdish, Rion, Gerwulf, Christian, Edric, Korbac, Pyre.</li>
        </ul>
    </body>
</html>