<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <h1>8xm12TP</h1>
        
        <img class="templgraph" src="../img/graphs/8xm12TP.png">
        
        <p class="templshortdescr">8xm12TP template was created by Valerin Bizonov for XL+yoU tournament. It purpose was to standarize 8xm12a to TP standard. Also added some other changes.</p>

        <ul class="templshortdescr">
            <span>Changes compared to 8xm12a:</span>
            <li>Banned spells: Sorrow, Slayer, Fire Shield, Inferno, Counterstrike, Magic Mirror, Sacrefice,</li>
            <li>Banned heroes: Ufretin, Straker, Piquedram, Verdish, Rion, Gerwulf, Christian, Edric, Korbac, Pyre,</li>
            <li>Number of Griffin Conservatory per zone limited to 2 (don't apply to zone 33 so called Super Treasure),</li>
            <li>Banned terrains in zones 21-32: swamp, sand, snow,</li>
            <li>Banned objects: Seer's Hut,</li>
            <li>Zone 24 and 29 guards' faction is Neutral,</li>
            <li>Object value change: Imp Cache value decreased from 5000 to 3000.</li>
        </ul>
    </body>
</html>