<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>HotA template list</title>
		<link rel="icon" type="image/x-icon" href="../img/favicon.ico">
		<link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <div class="retturnbutton">
            <a href="../index.html">&lt;&lt;`<img class="icon" src="../img/home_icon.png">home</a>
        </div>

        <h1>Heroes of Might and Magic III: Horn of the Abyss 8xm12a modifications list</h1>

        <p class="disclaim">Templates listed here belong to their authors, not owner of this repository.</p>
        
        <p class="templname">8xm12TP</p>        
        <p class="templshortdescr">Version author: Valerin Bizonov
            <br> Template created for XL+yoU tournament. It purpose was to standarize 8xm12a to TP standard.
            <br> <a href="https://github.com/KubarytTournaments/XL-plus-U/tree/Templates/8xm12TP">Link to download</a>
            <br> <div class="templdescrcont" onclick="toggleVisibility(this)">
                Click for full description <br/>
                <iframe class="templdescr" src="8xm12TP.html"></iframe>
            </div>
        </p>
<!-- Yes, I know I could write external JS script instead of adding it to every subpage, but I always copy whole subpage, so there is no diffrence -->
      <script>
            function toggleVisibility(container) {
            var templdescr = container.querySelector(".templdescr");
            var isVisible = templdescr.classList.contains("templdescr-visible");

            if (isVisible) {
                templdescr.classList.remove("templdescr-visible");
            } else {
                templdescr.classList.add("templdescr-visible");
            }
            }
      </script>
    </body>
</html>