<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <h1>h3dm3.2</h1>
        
        <img class="templgraph" src="../img/graphs/h3dm3.png">
        
        <p class="templshortdescr">h3dm3.1 is template created by Xocenk for True Mirror 2 tournament. <!-- Btw I am wondering if Xocenk is still in community. I haven't seen him much lately --> <br> Diffrence from 3.1 version is there is no zone repulsion. <!-- Probably most of readers don't even know what zone repulsion is, lol. Maybe I will add some rmg terms dictionary later. --></p>

        <ul class="templshortdescr">
            <span>Changes compared to h3dm1/h3dm2.1 (they are the same):</span> 
            <li>
                Object changes:
                - Disabled Tavern,
                - Disabled Shrine of Magic Mystery (level 4),
                - Imp Cache value decreased from 5000 to 3000, <!-- It's a standard lately -->
            </li>
            <li>
                Banned heroes: Leena, Ciele, Vidomina, Thant, Solmyr, Aislinn, Giselle and Deemer,
            </li>
            <li>
                Enabled heroes: Mutare, Mutare Drake, Boragus, Roland and Katherine,
            </li>
            <li>
                The number of rounds is limited from 100 to 50,
            </li>
            <li>
                Disabled artifacts: wood wagon, ore wagon, symbol of knowledge.
            </li>
            <li>
                Zone repulsion is off.
            </li>
        </ul>
    </body>
</html>