<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <h1>h3dm3</h1>
        
        <img class="templgraph" src="../img/graphs/h3dm3.png">
        
        <p class="templshortdescr">h3dm3 is template created by Xocenk after the succes of h3dm3.1/3.2 template in True Mirror 2 tournament. <br> Diffrences from 3.1/3.2 version are that there are less banned heroes and less enabled heroes. Wood and ore wagoons and symbol of knowledge aren't disabled. Max number of rounds aren't decreased to 50.</p>

        <p class="templshortdescr">Chagnes compared to h3dm1/h3dm2.1 (they are the same<!-- picture -->):
            <ul>
                <li>
                    Object changes:
                    - Disabled Tavern,
                    - Disabled Shrine of Magic Mystery (level 4),
                    - Imp Cache value decreased from 5000 to 3000, <!-- It's a standard lately -->
                </li>
                <li>
                    Banned heroes: Leena, Ciele, Vidomina, Thant, Solmyr and Deemer,
                </li>
                <li>
                    Enabled heroes: Mutare, Mutare Drake, <!-- Btw it would be funny to get double hero 111 and both are Mutare, after a while I think it would be just normal -->Boragus.
                </li>
            </ul>
        </p>
    </body>
</html>