<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <h1>mt_Andromeda 2.2</h1>
        
        <img class="templgraph" src="../img/graphs/mt_Andro2.2.png">
        
        <p class="templshortdescr">mt_Andromeda 2.2 is template created by wnukos for purpose of restoring the mt_Andromeda template, which at this point was played only in Heroes League (it's very conservative tournament). <br> Diffrences from 2.1 version is that there are no AI players. There are same spells bans as in TP versions so there is max 3 rolls for Town Portal and max 4 rolls for Dimension Doors in Rampart, Inferno and Necropolis, 5 in Tower and Dungeon and 6 in Conflux.</p>

        <ul class="templshortdescr">
            <span>Changes compared to mt_Andromeda:</span> 
            <li>
                Banned spells: Sorrow, Slayer, Fire Shield, Inferno, Counterstrike, Magic Mirror, Sacrifice
            </li>
            <li>
                Banned heroes: Ciele, Luna, Grindan, Labetha, Alamar, Jeddite, Deemer, Gunnar, Kyrre, Dessa, Solmyr, Aislinn, Thant, Vidomina, Leena, Miriam, Korbac,
            </li>
            <li>
                Enabled heroes: Mutare, Mutare Drake, Boragus, Roland, Catherine, Haart Lich.
            </li>
            <li>
                All computer zones was changed to neutral zones. They are same, but don't have AI. 
            </li>
        </ul>
    </body>
</html>