<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <h1>mt_Andromeda 2.1</h1>
        
        <img class="templgraph" src="../img/graphs/mt_Andro2.1.png">
        
        <p class="templshortdescr">mt_Andromeda 2.1 is template created by wnukos for purpose of restoring the mt_Andromeda template, which at this point was played only in Heroes League (it's very conservative tournament). <br> Diffrences from 2.2 version is that there are AI players. There are same spells bans as in TP versions so there is max 3 rolls for Town Portal and max 4 rolls for Dimension Doors in Rampart, Inferno and Necropolis, 5 in Tower and Dungeon and 6 in Conflux.</p>

        <ul class="templshortdescr">
            <span>Changes compared to mt_Andromeda:</span> 
            <li>
                Banned spells: Sorrow, Slayer, Fire Shield, Inferno, Counterstrike, Magic Mirror, Sacrifice
            </li>
            <li>
                Banned heroes: Ciele, Luna, Grindan, Labetha, Alamar, Jeddite, Deemer, Gunnar, Kyrre, Dessa,
                Solmyr, Aislinn, Thant, Vidomina, Leena, Miriam, Korbac, <!-- so may banned heroes, ahh yesss so many restarts 111 on conflux, cuz there is banned hero with army in tavern lol -->
            </li>
            <li>
                Enabled heroes: Mutare, Mutare Drake, <!-- Btw it would be funny to get double hero 111 and both are Mutare, after a while I think it would be just normal -->Boragus, Roland, Catherine, Haart Lich.
            </li>
        </ul><!-- I love Wnukos for adding changelog to Mirror Casino tournament. While writing this page I have seen tournaments where organizators added template with some changes, but didn't write changelog, so I had to do reverse changeloging or something -->
    </body>
</html>