<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <h1>mt_Firewalk 1.6f</h1>
        
        <img class="templgraph" src="../img/graphs/mt_fw1.6e.png">
    
        <p class="templshortdescr">mt_Firewalk 1.6f is template created by Ignus, he is also an orginal creator. It has some minor changes compared to built-in version. <br> Compared to 1.6e it has one change.</p>

        <ul class="templshortdescr">
            <span>Changes compared to built-in mt_Firewalk:</span> 
            <li>
                Object changes:
                <ul>
                    <li>
                        In zone 7 (Utopias zone): <br/>
                        - Max number of Dragon Utopia per zone decreased form 8 to 6,
                    </li>
                    <li>
                        In zone 1 and 2 (Player starting zone and AI zone): <br/>
                        - Disabled control spells scrolls,
                    </li>
                </ul>
            </li>
            <li>Banned Heroes: Solmyr, Aislinn, Thant, Deemer,</li>
            <li>Enabled Heroes: Haart Lich, Mutare, Roland, Mutare Drake, Boragus.</li>
            <li>Enabled every faction town, including players' starting faction, in zone 2 (AI zone)</li>
            <li>Playing 2v2 or 1v1 with ai is impossible now.</li>
        </ul>
    </body>
</html>