<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <h1>mt_Firewalk 2.0</h1>
        
        <img class="templgraph" src="../img/graphs/mt_fw2.0.png">
    
        <p class="templshortdescr">mt_Firewalk 2.0 is template created by Ignus, he is also an orginal creator. It has some minor and major changes compared to built-in version. <br> Bigges change is change in graph (splitting the sand zone to 3 parts). Other changes are banning heroes starting with Intelligence and unblocking Navigation heroes, changing terrain in gold, army and left and right sand zone (middle still is sand), and some guard changes.</p>

        <ul class="templshortdescr">
            <span>Changes compared to built-in mt_Firewalk:</span> 
            <li>
                Zones number changes: <br/>
                - 1 -> 2 <br/>
                - 2 -> 3 <br/>
                - 3 -> 1 <br/>
                - 4 -> 6 <br/>
                - 5 -> 7 <br/>
                - 6 -> 8 <br/>
                - 7 -> 9
            </li>
            <li>
                Object changes:
                <ul>
                    <li>
                        In zone 9, 11 (Utopias zone): <br/>
                        - Max number of Dragon Utopia per zone decreased form 8 to 6,
                    </li>
                    <li>
                        In zone 2, 3, 14 and 10 (Player starting zone and AI zone): <br/>
                        - Disabled control spells scrolls, <br/>
                        - Max number of T7 Dwelling per zone increased from 1 to 2, <br/>
                        - Max number of T6 Dwelling per zone increased from 2 to 3,
                    </li>
                    <li>
                        In zone 6, 7, 17 and 18 (gold zones): <br/>
                        - Enabled Den of Thieves, <br/>
                        - Enabled Warehouse of Wood, Mercury, Ore, Sulfur, Crystal, Gem and Gold, <br/>
                        - Enabled Observation Tower, <br/>
                        - Enabled Ruins, <br/>
                        - Enabled Faerie Ring, <br/>
                        - Enabled Fountain of Fortune and Youth, <br/>
                        - Enabled Idol of Fortune, <br/>
                        - Enabled Mineral Spring, <br/>
                        - Enabled Rally Flag, <br/>
                        - Enabled Swan Pond, <br/>
                        - Decreased density of treasure of 2nd group from 30 to 20,
                    </li>
                </ul>
            </li>
            <li>Banned Heroes: Caitlin, Eleshar, Iona, Daremyth, Solmyr, Ayden, Aislinn, Thant, Nagash, Deemer, Sephinroth, Andra, Eovacius,</li>
            <li>Enabled Heroes: Sylvia, Voy, Haart Lich, Mutare, Roland, Mutare Drake, Boragus, Xeron, Elmore,</li>
            <li>
                Zone terrain changes, allowed terrains: 
                <ul>
                    <li>
                        In zone 6, 7, 17 and 18 (gold zones): <br/>
                        - Grass, <br/>
                        - Dirt, <br/>
                        - Highlands
                    </li>
                    <li>
                        In zone 8 and 15 (army zones): <br/>
                        - Lava, <br/>
                        - Rough, <br/>
                        - Wasteland,
                    </li>
                </ul>
            </li>
            <li>Instead of zone 3 added zones 1, 4, 5 (they are all `sand zones`). In zones 4 and 5 allowed terrains are Snow, Swamp, Rough and Wasteland. In zone 1 terrain is Sand. They all have same treasure settings as old `sand zone`.</li>
            <li>Enabled every faction town, including players' starting faction, in zone 2 (AI zone)</li>
            <li>Playing 2v2 or 1v1 with ai is impossible now.</li>
            <li>
                Connection changes: <br/>
                - Added connection from zone 6 to 7 and 17 to 18 with 5k guard, <br/>
                - Changed guard in connection from zone 3 to 7 and 10 to 18 from 5k to 15k,
            </li>
        </ul>
    </body>
</html>