<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>HotA template list</title>
		<link rel="icon" type="image/x-icon" href="../img/favicon.ico">
		<link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <div class="retturnbutton">
            <a href="../index.html">&lt;&lt;<img class="icon" src="../img/home_icon.png">home</a>
        </div>

        <h1>Heroes of Might and Magic III: Horn of the Abyss mt_Firewalk modifications list</h1>
        <!--TODO:
        - ADD LEFT PANEL WITH DESCRIPTION AND DIVIDE DOCUMENT USING DIVS LIKE IN 6lm10.html-->
        <p class="disclaim">Templates listed here belong to their authors, not owner of this repository.</p>
        <!--ELEMENTS ARE CREATED WITH FOLLOWING TEMPLATE:
        <p class="templname">TEMPLATE VERSION NAME</p>
        <p class=templshortdescr">Version author: VERSION AUTHOR NICKNAME
            <br> TEMPLATE SHORT DESCRIPTION SAYING TIME/TOURNAMENT OF CREATION, PURPOSE AND CHARACTERISTIC CHANGES
            <br> <a target="_blank" href="LINK TO DOWNLOAD">Link to download</a>
            <br> <div class="templdescrcont" onclick="toggleVisiblity(this)">
                Click for full description <br/>
                <iframe class="templsdescr" src="TEMPLATE VERSION NAME.html"></iframe>
            </div>
        </p>
        -->
        <p class="templname">mt_Firewalk 1.6e</p>        
        <p class="templshortdescr
">Version author: Ignus 
            <br> Upgrade of build-in mt_Firewalk (Ignus is author of both versions).
            <br> <a target="_blank" href="https://mkalinowski2.github.io/ignus-h3-templates/templates/mt_Firewalk_1.6e/">Link to download</a>
            <br> <div class="templdescrcont" onclick="toggleVisibility(this)">
                Click for full description <br/>
                <iframe class="templdescr" src="mt_fw1.6e.html"></iframe>
            </div>
        </p>
        <p class="templname">mt_Firewalk 1.6f</p>        
        <p class="templshortdescr">Version author: Ignus 
            <br> Upgrade of build-in mt_Firewalk (Ignus is author of both versions). From this version playing with 1vs1 with AI or 2vs2 is impossible.
            <br> <a target="_blank" href="https://mkalinowski2.github.io/ignus-h3-templates/templates/mt_Firewalk_1.6f/">Link to download</a>
            <br> <div class="templdescrcont" onclick="toggleVisibility(this)">
                Click for full description <br/>
                <iframe class="templdescr" src="mt_fw1.6f.html"></iframe>
            </div>
        </p>
        <p class="templname">mt_Firewalk 2.0</p>        
        <p class="templshortdescr">Version author: Ignus
            <br> Upgrade of build-in mt_Firewalk (Ignus is author of both versions).
            <br> <a target="_blank" href="https://mkalinowski2.github.io/ignus-h3-templates/templates/mt_Firewalk_2.0/">Link to download</a>
            <br> <div class="templdescrcont" onclick="toggleVisibility(this)">
                Click for full description <br/>
                <iframe class="templdescr" src="mt_fw2.0.html"></iframe>
            </div>
        </p>
<!--SCRIPT THAT SHOW AND HIDES FULL TEMPLATE DESCRIPTIONS (IFRAMES)-->
        <script>
            function toggleVisibility(container) {
            var templdescr = container.querySelector(".templdescr");
            var isVisible = templdescr.classList.contains("templdescr-visible");

            if (isVisible) {
                templdescr.classList.remove("templdescr-visible");
            } else {
                templdescr.classList.add("templdescr-visible");
            }
            }
        </script>
    </body>
</html>