<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <h1>mt_Nebula</h1>
        
        <img class="templgraph" src="../img/graphs/mt_Nebula.png">
        
        <p class="templshortdescr">mt_Nebula 1.1 is template created by wnukos for purpose of continuation the mt_Andromeda 2.1/2.2 movement.  It's something like mt_Andromeda v2. <br> Main diffrence from versions 2.1/2.2 is that you can play this template with or without AI. Other diffrences are that banned some artifacts, skills and objects, there is guaranted Conflux and some trivia. There are same spells bans as in TP versions so there is max 3 rolls for Town Portal and max 4 rolls for Dimension Doors in Rampart, Inferno and Necropolis, 5 in Tower and Dungeon and 6 in Conflux.</p>

        <p class="templshortdescr">Chagnes compared to mt_Andromeda:
            <ul>
                <li>
                    Banned spells: Sorrow, Slayer, Fire Shield, Inferno, Counterstrike, Magic Mirror, Sacrifice
                </li>
                <li>
                    Banned heroes: Ciele, Luna, Grindan, Labetha, Alamar, Jeddite, Deemer, Gunnar, Kyrre, Dessa,
                    Solmyr, Aislinn, Thant, Vidomina, Leena, Miriam, Korbac, Fiona, <!-- so may banned heroes, ahh yesss so many restarts 111 on conflux, cuz there is banned hero with army in tavern lol -->
                </li>
                <li>
                    Enabled heroes: Mutare, Mutare Drake, <!-- Btw it would be funny to get double hero 111 and both are Mutare, after a while I think it would be just normal -->Boragus, Roland, Catherine, Haart Lich.
                </li>
                <li>
                    Banned objects: Tavern, Prison, Grave,
                </li>
                <li>
                    Banned artifacts: Tome of Air Magic, Spellbinder’s Hat, Bird of Perception,
                    Stoic Watchman, Emblem of Cognizance,
                </li>
                <li>
                    Banned skills: Eagle Eye, First Aid, Learning,
                </li>
                <li>
                    Terrain in transition zones (nr 2, 3, 4, 22, 23, 24) now matches the village type in those zones. The distribution of mines in those zones has been changed.
                </li>
                <li>
                    Zones nr 3 i 23 contain Conflux village, the remaining transition zones (2, 4, 22, 24) contain villages of any fraction but Conflux.
                </li>
            </ul>
        </p> <!-- I love Wnukos for adding changelog to Mirror Casino tournament. While writing this page I have seen tournaments where organizators added template with some changes, but didn't write changelog, so I had to do reverse changeloging or something -->
    </body> <!-- At this point I started to wonder, what if in my future job I write comments out of boredom, will my team manager be angry? -->
</html>