<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <h1>NostalgiaTP</h1>
        
        <img class="templgraph" src="../img/graphs/NostalgiaTP.png">
        
        <p class="templshortdescr">NostalgiaTP is template created by Ravciozo for purpose of making guild and STZ in it more equal. <br> Main diffrence between it and old version is that there is max 3 rolls for Town Portal and max 4 rolls for Dimension Doors in Rampart, Inferno and Necropolis, 5 in Tower and Dungeon and 6 in Conflux.</p>

        <ul class="templshortdescr">
            <span>Changes compared to Nostalgia:</span> 
            <li>
                Banned spells: Sorrow, Slayer, Fire Shield, Inferno, Counterstrike, Magic Mirror, Sacrifice
            </li>

            <li>
                Banned objects in zone 3 (so called Super Treasure): warehouses, windmills, t1 and t2 lvl dwellings, t1-3 shrines,
            </li>
        </ul><!-- You remember what I said about templates without changelog? Well I had to write it myself, not that it was long changelog -->
    </body>
</html>