<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <h1>Spider 2.0</h1>
        
        <img class="templgraphsquare" src="../img/graphs/Spider2.0.png">

        <p class="templshortdescr">Spider 2.0 is templated created by Kosixon for purpose of restoring the Spider template, that wasn't played lately. <br> It has lot of minor and major changes, that are listed below.</p>
        
        <ul class="templshortdescr">
            <span>Changes compared to Spider:</span> 
            <li>Added towns without forts to Treasure zones (17-24),</li> 
            <li>Deleted zones 13-16 and moved zones 21-24 on its place, </li> 
            <li>
                Zones treasure value changes:
                <ul>
                    <li>
                        Zones 1-12: <br/>
                        - Increased minimum value of treasure in 3rd group from 100 to 500, <br/>
                        - Increased density of treasure in 3rd group from 9 to 10,
                    </li>
                    <li>Zones 17-24: <br/>
                        - Decreased minimum value of treasure in 3rd group from 6000 to 5000, <br/>
                        - Increased maximum value of treasure in 3rd group from 8999 to 10000, <br/>
                        - Decreased maximum value of treasure in 2nd group from 16000 to 15000,
                    </li>
                </ul>
            </li>
            <li>
                Terrains disabled in treasure zones (17-24): <br/>
                - Swamp, <br/>
                - Snow, <br/>
                - Sand,
            </li>
            <li>
                Zones connections changes: <br/>
                - Guard in connections 1-24, 2-21, 3-23, 4-22 changed from 12500 to 6000 value, <br/>
                - Guard in connections 5-24, 6-24, 7-21, 8-21, 5-22, 7-22, 6-23, 8-23 changed from 3000 to 9000 value,
            </li>
            <li>
                Zones size changes: <br/>
                - Size of zones 17-24 increased from 15 to 25, <br/>
                - Size of zones 9-12 decreased from 30 to 25,
            </li>
            <li>
                Zones mines changes: <br/>
                - Deleted Mercury, Sulfur, Crystal and Gem mine from zones 1-8, <br/>
                - Set number of Mercury, Sulfur, Crystal and Gem mines for 1 in zones 9-12,
            </li>
            <li>Banned artifacts: Bird of Perception, Stoic Watchman, Emblem of Cognizance, Statesman's Medal, Diplomat's Ring, Ambasador's Sash, Everflowing Crystal Cloak, Ring of Infinite Gems, Everpouring Vial of Mercury, Eversmoking Ring of Sulfur, Endless Sack of Gold, Endless Bag of Gold, Endless Purse of Gold,</li>
            <li>Enabled artifacts: Cornucopia, Golden Goose,</li>
            <li>Banned skills: Eagle Eye, Learning, First Aid,</li>
            <li>Banned spells: Inferno, Fire Shield, Sorrow, Slayer, Counterstrike, Magic Mirror, Sacrifice,</li>
            <li>Banned Heroes: Ufretin, Straker, Piquedram, Christian, Edric, Rion, Pyre, Gerulf, Korbac, Verdish, Gurnisson,</li>
            <li>Banned objects:
                <ul>
                    <li>
                        On whole map: <br/>
                        - Seer's Hut,
                    </li>
                    <li>
                        In zones 17-24: <br/>
                        - Mercenary Camp, <br/>
                        - Marletto Tower, <br/>
                        - Star Axis, <br/>
                        - Garden of Revelation, <br/>
                        - Learning Stone, <br/>
                        - Gazebo, <br/>
                        - Tree of Knowledge, <br/>
                        - With Hut, <br/>
                        - Hermit Shack, <br/>
                        - Shrines of tier 1-3, <br/>
                        - Pandoras' Boxes with army of tier 1-4, <br/>
                        - Pandoras' Boxes with spells tier 1-3, <br/>
                        - Treasure class artifacts, <br/>
                        - Dwellings of tier 1-4,
                    </li>
                </ul>
            </li>
            <li>Object changes on whole map: 
                <ul>
                    <li>
                        Griffin Conservatory: <br/>
                        - Value increased from 2000 to 5000, <br/>
                        - Max per zone set to 3,
                    </li>
                    <li>
                        Imp Cache: <br/>
                        - Value decreased from 5000 to 3000.
                    </li>
                </ul>
            </li>
        </ul>
    </body>
</html>