<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>HotA template list</title>
		<link rel="icon" type="image/x-icon" href="../img/favicon.ico">
		<link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <div class="retturnbutton">
            <a href="../index.html">&lt;&lt;<img class="icon" src="../img/home_icon.png">home</a>
        </div>

        <h1>Heroes of Might and Magic III: Horn of the Abyss 6lm10a modifications list</h1>
        <!--TODO:
        - ADD LEFT PANEL WITH DESCRIPTION AND DIVIDE DOCUMENT USING DIVS LIKE IN 6lm10.html-->
        <p class="disclaim">Templates listed here belong to their authors, not owner of this repository.</p>
        <!--ELEMENTS ARE CREATED WITH FOLLOWING TEMPLATE:
        <p class="templname">TEMPLATE VERSION NAME</p>
        <p class=templshortdescr">Version author: VERSION AUTHOR NICKNAME
            <br> TEMPLATE SHORT DESCRIPTION SAYING TIME/TOURNAMENT OF CREATION, PURPOSE AND CHARACTERISTIC CHANGES
            <br> <a target="_blank" href="LINK TO DOWNLOAD">Link to download</a>
            <br> <div class="templdescrcont" onclick="toggleVisiblity(this)">
                Click for full description <br/>
                <iframe class="templsdescr" src="TEMPLATE VERSION NAME.html"></iframe>
            </div>
        </p>
        -->
        <p class="templname">Spider 2.0</p>        
        <p class="templshortdescr">Version author: Kosixon 
            <br> Version created for purpose of restoring Spider template.
            <br> <a target="_blank" href="https://drive.google.com/drive/folders/13cTJwn4OPigVJvzpT2_DVUnL_nK1W9AG">Link to download</a>
            <br> <div class="templdescrcont" onclick="toggleVisibility(this)">
                Click for full description <br/>
                <iframe class="templdescr" src="Spider2.0.html"></iframe>
            </div>
        </p>
<!--SCRIPT THAT SHOW AND HIDES FULL TEMPLATE DESCRIPTIONS (IFRAMES)-->
        <script>
            function toggleVisibility(container) {
            var templdescr = container.querySelector(".templdescr");
            var isVisible = templdescr.classList.contains("templdescr-visible");

            if (isVisible) {
                templdescr.classList.remove("templdescr-visible");
            } else {
                templdescr.classList.add("templdescr-visible");
            }
            }
        </script>
    </body>
</html>